PORT=5000
MONGO_URI=mongodb://localhost:27017/hearth_heal_shop

# M-Pesa Daraja API (Sandbox)
CONSUMER_KEY=your_mpesa_key
CONSUMER_SECRET=your_mpesa_secret
SHORTCODE=174379
PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
CALLBACK_URL=https://yourdomain.com/api/payments/callback
